.venv
.env

*/__pycache__
*.py[cod]

dataset
models
plots
outputs

ok_models/

wandb/

hyperopt_results/

debug*

*test*

visualizations/
.idea
scripts/
__pycache__

*/*.pickle
*/*.pickle
analysis/
